<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tokyo Dome Calculator</title>
    <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" href="/static/css/myCss.css"
          th:href="@{/css/myCss.css}" >

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"
           th:href="@{/place_list}">Tokyo Dome Calculator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page"-->
<!--                       th:href="@{/place_list}">Home</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/alisazoo/SimpleTokyoDomeCalculator">Code on Github</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Create New Place </h1>
            <div class = "card-body">
                <form
                        name="form"
                        onsubmit="return numberValidation()"
                        th:action="@{/place_list}"
                        th:object = "${place}"
                        method="POST"
                >
                    <div class ="form-group">
                        <label class="form-label" for = "add_name">名前</label>
                        <input
                                id = "add_name"
                                class = "form-control"
                                type = "text"
                                name = "name"
                                th:field = "*{name}"
                                placeholder = "場所を入力してください"
                                th:required="required"
                        />

                    </div>

                    <div class ="form-group">
                        <label class="form-label" for = "add_area">面積
                            (m&sup2;) </label>
                        <input
                                id = "add_area"
                                class = "form-control"
                                type = "number"
                                name = "area"
                                step= 0
                                min = "0"
                                th:field = "*{area}"
                                placeholder = "面積（半角数字）を入力してください"
                                th:required="required"
                        />

                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            追加
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>