<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tokyo Dome Calculator</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" href="/static/css/myCss.css"
          th:href="@{/css/myCss.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"
           th:href="@{/}">Tokyo Dome Calculator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/alisazoo/SimpleTokyoDomeCalculator"
                        th:text="#{github}"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <h1 th:text="#{title}"></h1>
        <p th:text="#{note}"></p>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/new}" th:text="#{add_new}"
               class="btn btn-primary btn-sm mb-3"></a>
        </div>
    </div>
    <table class="table table-striped table-bordered　caption-top">
        <caption th:inline="text">※[[#{caption}]]m&sup2;</caption>
        <thread class="table-dark">
            <tr>
                <th scope="col" th:text="#{name}"></th>
                <th scope="col" th:inline="text">[[#{area}]](m&sup2;)</th>
                <th scope="col" th:text="#{result}"></th>
                <th scope="col" th:text="#{edit}"></th>
            </tr>
        </thread>
        <tbody>

        <tr th:each="place : ${places}">
            <th scope="row" th:text="${place.name}"></th>
            <td th:text="${place.area}"></td>
            <td th:text="${place.result}">(unknown)</td>
            <td>
                <a th:href="@{/edit/{id}(id=${place.id})}"
                   class="btn btn-primary" th:text="#{edit}"></a>
                <a th:href="@{/{id}(id=${place.id})}"
                   class="btn btn-danger" th:text="#{delete}"></a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>